**Para tratar o arquivo**

**Bibliotecas usadas**

In [1]:
import pickle
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

**Puxando a base e aplicando os tratamentos basicos**

In [ ]:
FOLDER = "bases"
DATABASE = "restaurantes2"
EXTENSION = ".csv"

In [2]:
base = pd.read_csv(FOLDER+DATABASE+EXTENSION, sep = ';',encoding='latin-1')
base.drop('Exemplo', axis = 1, inplace = True)
base['Tempo'] = base['Tempo'].replace('out/30','10-30')
base

,Alternativo,Bar,Sex/Sab,Fome,Cliente,Preço,Chuva,Res,Tipo,Tempo,Conclusao
0,Sim,Não,Não,Sim,Alguns,RRR,Não,Sim,Francês,0-10,Sim
1,Sim,Não,Não,Sim,Cheio,R,Não,Não,Tailandês,30-60,Não
2,Não,Sim,Não,Não,Alguns,R,Não,Não,Hamburger,0-10,Sim
3,Sim,Não,Sim,Sim,Cheio,R,Sim,Não,Tailandês,10-30,Sim
4,Sim,Não,Sim,Não,Cheio,RRR,Não,Sim,Francês,>60,Não
5,Não,Sim,Não,Sim,Alguns,RR,Sim,Sim,Italiano,0-10,Sim
6,Não,Sim,Não,Não,Nenhum,R,Sim,Não,Hamburger,0-10,Não
7,Não,Não,Não,Sim,Alguns,RR,Sim,Sim,Tailandês,0-10,Sim
8,Não,Sim,Sim,Não,Cheio,R,Sim,Não,Hamburger,>60,Não
9,Sim,Sim,Sim,Sim,Cheio,RRR,Não,Sim,Italiano,10-30,Não
10,Não,Não,Não,Não,Nenhum,R,Não,Não,Tailandês,0-10,Não
11,Sim,Sim,Sim,Sim,Cheio,R,Não,Não,Hamburger,30-60,Sim

In [3]:
base_bkp = base.copy()

In [68]:
base = base_bkp.copy()

**Passa a coluna de classificação para a classe**

In [4]:
entrada = database['stalker-root']
database.drop(['stalker-root'],axis=1, inplace=True)

In [5]:
y_classe

0     Sim
1     Não
2     Sim
3     Sim
4     Não
5     Sim
6     Não
7     Sim
8     Não
9     Não
10    Não
11    Sim
Name: Conclusao, dtype: object

**Binarizar a coluna "Tipo":**

In [6]:
dummies = pd.get_dummies(base[['Tipo']])
for col in dummies:
    base[col] = dummies[col]
base.drop('Tipo', axis = 1, inplace = True)

In [7]:
base

,Alternativo,Bar,Sex/Sab,Fome,Cliente,Preço,Chuva,Res,Tempo,Tipo_Francês,Tipo_Hamburger,Tipo_Italiano,Tipo_Tailandês
0,Sim,Não,Não,Sim,Alguns,RRR,Não,Sim,0-10,1,0,0,0
1,Sim,Não,Não,Sim,Cheio,R,Não,Não,30-60,0,0,0,1
2,Não,Sim,Não,Não,Alguns,R,Não,Não,0-10,0,1,0,0
3,Sim,Não,Sim,Sim,Cheio,R,Sim,Não,10-30,0,0,0,1
4,Sim,Não,Sim,Não,Cheio,RRR,Não,Sim,>60,1,0,0,0
5,Não,Sim,Não,Sim,Alguns,RR,Sim,Sim,0-10,0,0,1,0
6,Não,Sim,Não,Não,Nenhum,R,Sim,Não,0-10,0,1,0,0
7,Não,Não,Não,Sim,Alguns,RR,Sim,Sim,0-10,0,0,0,1
8,Não,Sim,Sim,Não,Cheio,R,Sim,Não,>60,0,1,0,0
9,Sim,Sim,Sim,Sim,Cheio,RRR,Não,Sim,10-30,0,0,1,0
10,Não,Não,Não,Não,Nenhum,R,Não,Não,0-10,0,0,0,1
11,Sim,Sim,Sim,Sim,Cheio,R,Não,Não,30-60,0,1,0,0

**Usa o label encoder nas colunas de sim ou não**

In [8]:
colToEncoder = ['Alternativo','Bar','Sex/Sab','Fome','Chuva','Res']
encoder = LabelEncoder()
for col in colToEncoder:
    base[col] = encoder.fit_transform(base[col])

In [9]:
base

,Alternativo,Bar,Sex/Sab,Fome,Cliente,Preço,Chuva,Res,Tempo,Tipo_Francês,Tipo_Hamburger,Tipo_Italiano,Tipo_Tailandês
0,1,0,0,1,Alguns,RRR,0,1,0-10,1,0,0,0
1,1,0,0,1,Cheio,R,0,0,30-60,0,0,0,1
2,0,1,0,0,Alguns,R,0,0,0-10,0,1,0,0
3,1,0,1,1,Cheio,R,1,0,10-30,0,0,0,1
4,1,0,1,0,Cheio,RRR,0,1,>60,1,0,0,0
5,0,1,0,1,Alguns,RR,1,1,0-10,0,0,1,0
6,0,1,0,0,Nenhum,R,1,0,0-10,0,1,0,0
7,0,0,0,1,Alguns,RR,1,1,0-10,0,0,0,1
8,0,1,1,0,Cheio,R,1,0,>60,0,1,0,0
9,1,1,1,1,Cheio,RRR,0,1,10-30,0,0,1,0
10,0,0,0,0,Nenhum,R,0,0,0-10,0,0,0,1
11,1,1,1,1,Cheio,R,0,0,30-60,0,1,0,0

***Binarizando todas as classes***

In [48]:
base_allDummy = base.copy()

In [49]:
colToDummy = ['Cliente','Tempo','Preço']
dummies = pd.get_dummies(base_allDummy[colToDummy])
for col in dummies:
    base_allDummy[col] = dummies[col]
for col in colToDummy:
    base_allDummy.drop(col, axis = 1, inplace = True)

In [51]:
base_allDummy

,Alternativo,Bar,Sex/Sab,Fome,Chuva,Res,Francês,Hamburger,Italiano,Tailandês,Cliente_Alguns,Cliente_Cheio,Cliente_Nenhum,Tempo_0-10,Tempo_10-30,Tempo_30-60,Tempo_>60,Preço_R,Preço_RR,Preço_RRR
0,1,0,0,1,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,1
1,1,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,1,0,0
2,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0
3,1,0,1,1,1,0,0,0,0,1,0,1,0,0,1,0,0,1,0,0
4,1,0,1,0,0,1,1,0,0,0,0,1,0,0,0,0,1,0,0,1
5,0,1,0,1,1,1,0,0,1,0,1,0,0,1,0,0,0,0,1,0
6,0,1,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0
7,0,0,0,1,1,1,0,0,0,1,1,0,0,1,0,0,0,0,1,0
8,0,1,1,0,1,0,0,1,0,0,0,1,0,0,0,0,1,1,0,0
9,1,1,1,1,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1
10,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,1,0,0
11,1,1,1,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0

In [58]:
x_prev = base_allDummy.values
X_treino, X_teste, y_treino, y_teste = train_test_split(x_prev, y_classe, test_size = 0.2, random_state = 0)
with open('SavedBases/allDummy.pickle', 'wb') as f:
    pickle.dump([base_allDummy.columns,X_treino, X_teste, y_treino, y_teste], f)

***Codificando Cliente,Tempo e Preço***

In [10]:
base_encoded = base.copy()      #Copia da base original

In [11]:
base_encoded['Cliente'] = base_encoded['Cliente'].replace('Nenhum',0).replace('Alguns',1).replace('Cheio',2)
base_encoded['Preço'] = base_encoded['Preço'].replace('R',0).replace('RR',1).replace('RRR',2)
base_encoded['Tempo'] = base_encoded['Tempo'].replace('0-10',0).replace('10-30',1).replace('30-60',2).replace('>60',2)
base_encoded

,Alternativo,Bar,Sex/Sab,Fome,Cliente,Preço,Chuva,Res,Tempo,Tipo_Francês,Tipo_Hamburger,Tipo_Italiano,Tipo_Tailandês
0,1,0,0,1,1,2,0,1,0,1,0,0,0
1,1,0,0,1,2,0,0,0,2,0,0,0,1
2,0,1,0,0,1,0,0,0,0,0,1,0,0
3,1,0,1,1,2,0,1,0,1,0,0,0,1
4,1,0,1,0,2,2,0,1,2,1,0,0,0
5,0,1,0,1,1,1,1,1,0,0,0,1,0
6,0,1,0,0,0,0,1,0,0,0,1,0,0
7,0,0,0,1,1,1,1,1,0,0,0,0,1
8,0,1,1,0,2,0,1,0,2,0,1,0,0
9,1,1,1,1,2,2,0,1,1,0,0,1,0
10,0,0,0,0,0,0,0,0,0,0,0,0,1
11,1,1,1,1,2,0,0,0,2,0,1,0,0

In [14]:
x_prev = base_encoded.values
X_treino, X_teste, y_treino, y_teste = train_test_split(x_prev, y_classe, test_size = 0.2, random_state = 0)
with open('SavedBases/encoded.pkl', 'wb') as f:
    pickle.dump([base_encoded.columns,X_treino, X_teste, y_treino, y_teste], f)